# MAIN
.venv/
*terraform.tfvars
.terraform
.terraform*
*terraform.tfstate*
config/homelab.yml
terraform_output/
CODEME.md
config/generate_configs.py
config/generate_provision_script.py

# USER
ansible/inventory.ini
ansible/vm-*
ansible/_05_deploy_services.yml
ansible/_06_master_deploy.yml
ansible/roles/audiobookshelf
ansible/roles/authelia
ansible/roles/cloudflared
ansible/roles/postgres_db
ansible/roles/swag
ansible/roles/wikijs
ansible/roles/paperless*
ansible/roles/redis
ansible/roles/pdf
ansible/roles/portainer
ansible/roles/portainer_agent
ansible/roles/radarr
ansible/roles/sonarr
ansible/roles/tautulli
ansible/roles/unpackerr
ansible/roles/prowlarr
ansible/roles/bazarr
ansible/roles/overseerr
ansible/roles/maintainerr
ansible/roles/homarr
ansible/roles/flaresolverr

ansible/adhoc_service.yml