services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: 1000:1000
    volumes:
      - {{ ansible_user_dir }}/appdata/overseerr/config:/config
    environment:
      - TZ={{ service.timezone | default("America/New_York") }}
    networks:
      - arr-net
  
networks:
  arr-net:
    name: arr-net