## Version 2024/12/17 - Changelog: https://github.com/linuxserver/docker-swag/commits/master/root/defaults/nginx/site-confs/default.conf.sample

# redirect all traffic to https
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location / {
        return 301 https://$host$request_uri;
    }
}

# main server block
server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;

    server_name _;

    include /config/nginx/ssl.conf;

    root /config/www;
    index index.html index.htm index.php;


    {% if service.authelia is defined and service.authelia == true %}
    include /config/nginx/authelia-server.conf;
    {% else %}
    # include /config/nginx/authelia-server.conf;
    {% endif %}


    location / {

        {% if service.authelia is defined and service.authelia == true %}
        include /config/nginx/authelia-location.conf;
        {% else %}
        # include /config/nginx/authelia-location.conf;
        {% endif %}

        proxy_pass {{ service.homepage_url }};
    }

    location ~ ^(.+\.php)(.*)$ {
       
        {% if service.authelia is defined and service.authelia == true %}
        include /config/nginx/authelia-location.conf;
        {% else %}
        # include /config/nginx/authelia-location.conf;
        {% endif %}


        fastcgi_split_path_info ^(.+\.php)(.*)$;
        if (!-f $document_root$fastcgi_script_name) { return 404; }
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;
    }

    # deny access to .htaccess/.htpasswd files
    location ~ /\.ht {
        deny all;
    }
}

# enable subdomain method reverse proxy confs
include /config/nginx/proxy-confs/*.subdomain.conf;
