services:
  db:
    image: postgres:14.1-alpine
    container_name: postgres_db
    user: 1000:1000
    environment:
      POSTGRES_DB: {{ service.postgres_db }} 
      POSTGRES_USER: docker_user
      POSTGRES_PASSWORD: docker_user
    volumes:
      - {{ ansible_user_dir }}/appdata:/var/lib/postgresql/data
    ports:
      - "{{ service.port }}:{{ service.port }}"
    logging:
      driver: local
    restart: unless-stopped
